body {
    /*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}
.loader_outer {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 999;
}
.loader_inner {
    position: absolute;
    top: 50%;
    left: 50%;
}
.margin_top {
    margin-top: 5px;
}
.block {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
}
.block:hover,
.block:focus {
    background-color: #27ae60;
}
.block > * {
    position: relative;
}
.block span {
    display: block;
    padding: 12px 24px;
}
.block:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.block:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}
.block.orange {
    background-color: #e67e22;
}
.block.orange:hover,
.block.orange:focus {
    background-color: #d35400;
}
.block.red {
    background-color: #e74c3c;
}
.block.red:hover,
.block.red:focus {
    background-color: #c0392b;
}
.center {
    position: absolute;
    /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px;
    /* text area height */
    width: 225px;
    /* text area width */
    text-align: center;
    /*    padding: 180px 0px 0px 0px;*/
    /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    /*    width    ;*/
}
.round-button {
    width: 10%;
}
.round-button-circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #4679BD;
    -webkit-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
}
.round-button-circle:hover {
    background: #30588e;
}
.round-button a {
    display: block;
    float: left;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
