body {
    /*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}
.loader_outer {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 999;
}
.loader_inner {
    position: absolute;
    top: 50%;
    left: 50%;
}
.margin_top {
    margin-top: 5px;
}
.block {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
}
.block:hover,
.block:focus {
    background-color: #27ae60;
}
.block > * {
    position: relative;
}
.block span {
    display: block;
    padding: 12px 24px;
}
.block:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.block:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}
.block.orange {
    background-color: #e67e22;
}
.block.orange:hover,
.block.orange:focus {
    background-color: #d35400;
}
.block.red {
    background-color: #e74c3c;
}
.block.red:hover,
.block.red:focus {
    background-color: #c0392b;
}
.center {
    position: absolute;
    /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px;
    /* text area height */
    width: 225px;
    /* text area width */
    text-align: center;
    /*    padding: 180px 0px 0px 0px;*/
    /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    /*    width    ;*/
}
.round-button {
    width: 10%;
}
.round-button-circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #4679BD;
    -webkit-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
}
.round-button-circle:hover {
    background: #30588e;
}
.round-button a {
    display: block;
    float: left;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
.foo {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.primary {
    background: #5bc0de;
}
.blue {
    background: #5cb85c;
}
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
input#toggle + label {
    display: block;
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    text-indent: -5000px;
    height: 30px;
    width: 50px;
    border-radius: 15px;
}
input#toggle + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(19, 191, 17, 0);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
input#toggle + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0px;
    border-radius: 15px;
    background: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
input#toggle:checked + label:before {
    width: 50px;
    background: #13bf11;
}
input#toggle:checked + label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}
label.btn span {
    font-size: 1.5em;
}
label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #c8c8c8;
    display: inline;
}
label input[type="radio"] ~ i.fa.fa-check-circle-o {
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-check-circle-o {
    color: #7AA3CC;
    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
    color: #7AA3CC;
}
label input[type="checkbox"] ~ i.fa.fa-square-o {
    color: #c8c8c8;
    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o {
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o {
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o {
    color: #7AA3CC;
    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
    color: #7AA3CC;
}
div[data-toggle="buttons"] label.active {
    color: #7AA3CC;
}
div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid #c8c8c8;
    border-radius: 3px;
    color: #c8c8c8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
div[data-toggle="buttons"] label:hover {
    color: #7AA3CC;
}
div[data-toggle="buttons"] label:active,
div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
a {
    text-decoration: none;
    color: #fff;
}
.brick {
    display: inline-block;
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
    margin-right: 8px;
    background-color: #e7e7e7;
    vertical-align: top;
    -webkit-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
}
.icon {
    display: inline-block;
    float: right;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.75);
    line-height: 1.5;
    text-align: center;
}
header > hgroup {
    margin-bottom: 32px;
    color: #fff;
}
header h1 {
    margin-bottom: 0;
    font-size: 28px;
}
header a {
    color: #a93447;
}
nav {
    margin-bottom: 32px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline;
}
nav ul li a.brick {
    position: relative;
    font-family: inherit;
    font-weight: inherit;
    color: #616161;
    color: #252326;
    line-height: 2;
    background-color: #252326;
    background-color: #F3F3F3;
    background-color: #e7e7e7;
    border-left: 3px solid #616161
}
nav ul li a.brick .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 63px;
    width: 63px;
    font-size: 2em;
    color: #fff;
    line-height: 2.25;
    background: #616161;
}
nav ul li a.dashboard {
    border-color: #B93861;
}
nav ul li a.dashboard .icon {
    background-color: #B93861;
}
nav ul li a.pages {
    border-color: #34ABD7;
}
nav ul li a.pages .icon {
    background-color: #34ABD7;
}
nav ul li a.navigation {
    border-color: #158A53;
}
nav ul li a.navigation .icon {
    background-color: #158A53;
}
nav ul li a.users {
    border-color: #D95235;
}
nav ul li a.users .icon {
    background-color: #D95235;
}
nav ul li a.settings {
    /*border-color: #34ABD7;*/
}
nav ul li a.settings .icon {
    /*background-color: #34ABD7;*/
}
#content > header {
    position: relative;
    padding: 0px 72px 0px 0px;
}
#content .brick {
    position: relative;
}
#content .brick .close {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #616161;
}
#content.pages .brick.title {
    height: 120px;
    border-left: 8px solid #34ABD7;
}
#content.pages .brick.identify {
    display: none;
}
#content.pages .brick.save {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 54px;
    min-height: 54px;
    margin-right: 0;
    color: #fff;
    background: #158A53;
}
#content.pages .brick.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 54px;
    min-height: 54px;
    margin-right: 0;
    color: #fff;
    background: #616161;
}
#content.pages .brick.save .icon,
#content.pages .brick.close .icon {
    line-height: 1;
}
#content .brick.closed {
    width: 120px;
    height: 120px;
}
#content .brick.closed hgroup a {
    display: none;
}
#content .brick.closed form {
    display: none;
}
#content .brick form textarea {
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    padding: 16px;
    border: 1px solid #666;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
#content .brick form input[type="text"] {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #666;
    font-size: 1.5em;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
@media all and (max-width: 799px) {
    #content.pages .brick.close .text,
    #content.pages .brick.save .text {
        display: none;
    }
}
a:link {
    text-decoration: none;
}
