<div ng-init="init();" style="padding: 0px 12px 0px 12px;">
    <div class="panel panel-primary">
        <div class="panel-heading">Public holiday</div>
        <div class="panel-body">
            <div class="row">
                <form role="form">
                    <div class="col-sm-2 col-xs-12 margin_top">Select country</div>
                    <div class="col-sm-8 col-xs-12 margin_top">
                        <select class="form-control" id="country" ng-model="country">
                            <option value="" disabled selected>Select country</option>
                            <option ng-selected="" ng-repeat="country in countryList" value="{{country.country}}">
                                {{country.country}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-1 col-xs-12 margin_top">
                        <button type="submit" class="btn btn-primary" ng-click="update_country_list();">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" data-toggle="modal" data-target="#clear_data" ng-click="generate_capcha();">Clear data</div>
    </div>
    <div id="clear_data" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="text-align: center;">
                <div class="modal-header" style="background-color: blue;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span class="modal-title" style="color:#FFF;font-size: 1.5em;"><b>Confirm.</b></span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 margin_top">Clearing data will erase public holidays, leaves and com offs. If you are sure, answer the question below.</div>
                        <div class="col-sm-12 col-xs-6 margin_top">{{question}}</div>
                        <div class="col-sm-12 col-xs-6 margin_top">
                            <input maxlength="5" type="number" id="" class="form-control" ng-model="answer_entered" placeholder="Type the answer here" ng-change="validate_answer();">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="clear_cache();" ng-disabled="!confirm_button">Confirm</button>
                </div>
            </div>

        </div>
    </div>
</div>
