<div ng-init="init();" style="padding: 0px 12px 0px 12px;">
    <div class="panel panel-primary">
        <div class="panel-heading">Public holiday</div>
        <div class="panel-body">
            <div class="row">
                <form role="form">
                    <div class="col-sm-2 col-xs-12 margin_top">Select country</div>
                    <div class="col-sm-8 col-xs-12 margin_top">
                        <select class="form-control" id="country" ng-model="country">
                            <option value="" disabled selected>Select country</option>
                            <option ng-selected="" ng-repeat="country in countryList" value="{{country.country}}">
                                {{country.country}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-1 col-xs-12 margin_top">
                        <button type="submit" class="btn btn-primary" ng-click="update_country_list();">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
